<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzy.exampledemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--声明只有带有nfc功能的手机才能下载你在google市场发布的具有NFC功能的app-->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <!--开发nfc的权限-->
    <uses-permission android:name="android.permission.NFC" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.design.FabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.DrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.CollapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.ScrollingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.SceneTransitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.DatailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name=".ui.customview.CustomView1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView11Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sensor.SensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sensor.MotionSensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nfc.AutoOpenUrlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.nfc.AutoOpenPackageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>