<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzy.exampledemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--声明只有带有nfc功能的手机才能下载你在google市场发布的具有NFC功能的app-->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <!--开发nfc的权限-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 在Android5.0之前，是默认申请GPS硬件功能的。而在Android 5.0 之后，需要在manifest 中申明GPS硬件模块功能的使用。 -->
    <uses-feature android:name="android.hardware.location.gps" />
    <!--在 Android 6.0 及以上，还需要打开位置权限。如果应用没有位置权限，蓝牙扫描功能不能使用-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--设置设备只支持 BLE-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.design.FabActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <!--协议部分，随便设置-->
                <data
                    android:host="ui"
                    android:path="/fab"
                    android:scheme="scheme" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.design.DrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.CollapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.ScrollingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.SceneTransitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.design.DatailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name=".ui.customview.CustomView1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView11Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sensor.SensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sensor.MotionSensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nfc.AutoOpenUrlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.nfc.AutoOpenPackageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ble.BleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ble.Ble2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ndk.NdkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView12Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Thread.HanlderThreadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.anim.ValueAnimatorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.anim.ValueAnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView13Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Thread.IntentServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.drawable.ClipDrawableActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Thread.ThreadPoolActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Thread.MultithreadDownloadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customview.CustomView14Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".utils.DownloadFileService"></service>

    </application>

</manifest>